<mat-card>
    <div *ngIf="holdings && holdings.length > 0">
        <mat-list>
            <mat-list-item><span>Absolute Veränderung der Aktienbesitze:</span><span
                [ngClass]="absoluteChange > 0 ? 'positive-number' : absoluteChange < 0 ? 'negative-number' : ''"
                class="padding-left">{{absoluteChange | currency:getCurrency():'symbol':'1.2-2'}}</span></mat-list-item>
            <mat-list-item><span>Relative Veränderung der Aktienbesitze:</span><span
                [ngClass]="relativeChange > 0 ? 'positive-number' : relativeChange < 0 ? 'negative-number' : ''"
                class="padding-left">{{relativeChange | number : '1.2-2'}} %</span></mat-list-item>
            <mat-list-item><span>Realisierter Gewinn durch Verkäufe:</span><span
                [ngClass]="totalEarnings > 0 ? 'positive-number' : totalEarnings < 0 ? 'negative-number' : ''"
                class="padding-left">{{totalEarnings | currency:getCurrency():'symbol':'1.2-2'}}</span></mat-list-item>
            <mat-list-item><span><strong>Gesamtentwicklung des Depots:</strong></span><span
                [ngClass]="getTotalDevelopment() > 0 ? 'positive-number' : getTotalDevelopment() < 0 ? 'negative-number' : ''"
                class="padding-left"><strong>{{getTotalDevelopment() | currency:getCurrency():'symbol':'1.2-2'}}</strong></span>
            </mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="!holdings || holdings.length == 0">
        <h3 class="mat-h3">Es befinden sich keine Aktien in diesem Depot!</h3>
    </div>
</mat-card>
<mat-divider></mat-divider>
<highcharts-chart *ngIf="depotHistory && holdings && holdings.length > 0"
                  [Highcharts]="Highcharts"
                  [options]="chartOptions"
                  constructorType="stockChart"

                  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
