.floatright{
  float: right;
}

.padding{
  padding: 15px;
}

.detailsbutton{
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
}

.matlist{
  width: 80%;
}

.floatleft{
  float: left;
}
