<h1 mat-dialog-title>Import</h1>
<div mat-dialog-content>
    <mat-form-field>
        <p>Name:</p>
        <label><input [(ngModel)]="data.name" matInput/></label>
        <label>
            <label for="file">Choose File</label>
            <input (change)="changeFile($event.target.files)" class=""
                   id="file"
                   type="file"/>
        </label>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Abbrechen</button>
    <button [disabled]="!isNameValid()" [mat-dialog-close]="data" class="mat-primary" mat-raised-button>Importieren
    </button>
</div>
