HELP.md
.gradle
/build/
build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/.idea
.idea
*.iws
*.iml
*.ipr
/out/
out/

# misc
/.sass-cache
.sass-cache/
/connect.lock
connect.lock/
/coverage
coverage/
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
typings/

# System Files
.DS_Store
Thumbs.db

# compiled output
/dist
dist/
/tmp
tmp/
/out-tsc
out-tsc/

# dependencies
/node_modules
node_modules/

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

#H2 file based db data
data/
/data
