<h1 mat-dialog-title>Aktien kaufen: </h1>
<div mat-dialog-content>
    <p>Aktie: {{data.stock.name}}</p>
    <mat-form-field>
        <label>
            Menge:
            <input (input)="calculateTotalPrice()" [(ngModel)]="data.amount" cdkFocusInitial matInput>
        </label>
    </mat-form-field>
    <mat-form-field>
        <label>
            Gesamtpreis:
            <input (ngModelChange)="data.totalPrice = $event" [ngModel]="data.totalPrice | number : '1.2-2'" matInput>
        </label>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Abbrechen</button>
    <button [mat-dialog-close]="data" class="mat-primary" mat-raised-button>Kaufen</button>
</div>
