<h1 mat-dialog-title>Aktien kaufen: </h1>
<div mat-dialog-content>
    <p>Aktie: {{data.stock.name}}</p>
    <mat-form-field class="width">
        <label>Menge:</label>
        <input (input)="calculateTotalPrice()" [(ngModel)]="data.amount" cdkFocusInitial matInput type="number">
    </mat-form-field>
    <mat-form-field class="width">
        <label>Gesamtpreis:</label>
        <input [(ngModel)]="data.totalPrice" matInput type="number">
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Abbrechen</button>
    <button [mat-dialog-close]="data" class="mat-primary" mat-raised-button>Kaufen</button>
</div>
