<span>
    <mat-form-field>
        <mat-select (selectionChange)="refreshCurrentDepot()" [compareWith]="compareDepots" [formControl]="filter">
            <mat-option *ngFor="let depot of depots" [value]="depot">{{depot.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</span>
<span>
    <button (click)="openCreateDepotDialog()" class="toolbar-button">
        <i class="material-icons md-light md-36">add</i>
    </button>
</span>
<span>
    <app-import (change)="addDepot($event)"></app-import>
</span>
