<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Aktienmanager</span>
        <span class="fill-remaining-space"></span>
        <app-alert-list></app-alert-list>
        <span class="stockdepot-label">
            <mat-label>Aktuelles Aktiendepot:</mat-label>
        </span>
        <app-depot-switch-add></app-depot-switch-add>
        <button (click)="openDeleteConfirmationDialog()">
            <mat-icon class="md-light md-36">delete</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<app-home *ngIf="!depotPresent"></app-home>
<div *ngIf="depotPresent">
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
</div>
