.fill-remaining-space {
    flex: 1 1 auto;
}

.padding-right {
    padding-right: 20px;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
