<h1 mat-dialog-title>Neuer Alarm</h1>
<div mat-dialog-content>
    <p>Alarm für <strong>{{data.stock.name}}</strong> erstellen!</p>
    <mat-form-field class="width">

        <ng-container *ngIf="data.alarmPrice > data.stock.price">
            <p>für Überschreitung dieses Wertes.</p>
        </ng-container>
        <ng-container *ngIf="data.alarmPrice < data.stock.price">
            <p>für Unterschreitung dieses Wertes.</p>
        </ng-container>
        <ng-container *ngIf="data.alarmPrice == data.stock.price">
            <p>Das ist der aktuelle Preis.</p>
        </ng-container>
        <ng-container>
            <mat-label>{{data.stock.currency}}</mat-label>
            <input [(ngModel)]="data.alarmPrice" class="input-field" matInput type="number">
        </ng-container>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Abbrechen</button>
    <button [disabled]="!isPriceValid()" [mat-dialog-close]="data" class="mat-primary" mat-raised-button>Erstellen
    </button>
</div>
