<div class="floatleft">
    <mat-list *ngIf="stock">
        <mat-list-item>
            <span><h2>{{stock.name}}</h2></span>
        </mat-list-item>
        <mat-list-item>
            <span>{{stock.stockExchange.name}}</span>
        </mat-list-item>
        <mat-list-item><span>Aktueller Kurs: </span><span class="padding-left">
            <b>{{stock.price | currency : stock.currency + " "}}</b></span>
        </mat-list-item>
        <mat-list-item><span>Relative Veränderung:</span><span
            [ngClass]="stock.day_change > 0 ? 'positive-number' : stock.day_change < 0 ? 'negative-number' : ''"
            class="padding-left">{{stock.day_change | number : '1.2-2'}} %</span>
        </mat-list-item>
    </mat-list>
</div>
<div class="floatright margin">
    <div class="floatright">
        <button class="padding detailsbutton" (click)="openCreateAlarmDialog()">
            <i class="material-icons">add_alert</i>
            <p>Alarm erstellen</p>
        </button>
    </div>
    <div class="floatright">
        <button class="padding detailsbutton" (click)="openSellStockDialog()">
            <i class="material-icons">gavel</i>
            <p>Aktie verkaufen</p>
        </button>
    </div>
    <div class="floatright">
        <button class="padding detailsbutton" (click)="openBuyStockDialog()">
            <i class="material-icons">gavel</i>
            <p>Aktie kaufen</p>
        </button>
    </div>
</div>
<highcharts-chart *ngIf="stockHistory && stock"
                  [Highcharts]="Highcharts"
                  [options]="chartOptions"
                  constructorType="stockChart"

                  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
