<div class="mat-elevation-z8">
    <mat-form-field appearance="outline">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Stichwort">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktie</th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="['/stocks/stock-details', element.id]">{{element.name}}</a></td>
        </ng-container>
        <ng-container matColumnDef="market">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Börse</th>
            <td mat-cell *matCellDef="let element">{{element.stockExchange.name + " (" + element.stockExchange.shortName + ")"}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Preis</th>
            <td *matCellDef="let element" mat-cell>{{element.price | currency:'EUR':'symbol'}}</td>
        </ng-container>
        <ng-container matColumnDef="day_change">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tagesschwankung</th>
            <td *matCellDef="let element" mat-cell>
                <span [ngClass]="element.day_change > 0 ? 'positive-number' : element.day_change < 0 ? 'negative-number' : ''">
                {{element.day_change | number : '1.2-2'}} %
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="buy">
            <th *matHeaderCellDef mat-header-cell>Buy</th>
            <td *matCellDef="let element" class="mat-cell cdk-column-alert mat-column-alert">
                <span>
                    <button (click)="openBuyStockDialog(element)">
                        <mat-icon>gavel</mat-icon>
                    </button>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="alert">
            <th mat-header-cell *matHeaderCellDef>Alarm</th>
            <td *matCellDef="let element" class="mat-cell cdk-column-alert mat-column-alert">

                <span>
                    <button (click)="openCreateAlarmDialog(element)">
                        <mat-icon>add_alert</mat-icon>
                    </button>
                </span>


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons></mat-paginator>
</div>
