<table mat-table [dataSource]="stocks">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Aktie</th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['/stock-details', element.name]">{{element.name}}</a></td>
    </ng-container>
    <ng-container matColumnDef="market">
        <th mat-header-cell *matHeaderCellDef> Börse</th>
        <td mat-cell *matCellDef="let element">{{element.market}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preis</th>
        <td mat-cell *matCellDef="let element">{{element.price}}</td>
    </ng-container>
    <ng-container matColumnDef="change1d">
        <th mat-header-cell *matHeaderCellDef> Tagesschwankung</th>
        <td mat-cell *matCellDef="let element">{{element.change1d}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let stocks ; columns: displayedColumns"></tr>
</table>
<!--
<table mat-table [dataSource]="stocks" class="mat-elevation-z8">


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let stock of stocks"> {{stock.name}} </td>
    </ng-container>

    <ng-container matColumnDef="market">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let stock of stocks"> {{stock.market}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let stock of stocks"> {{stock.price}} </td>
    </ng-container>

    <ng-container matColumnDef="change1d">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let stock of stocks"> {{stock.change1d}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->
